@namespace ArcadeApp.UI

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="@typeof(Layout.MainLayout)" />
    </Found>
    <NotFound>
        <Layout.MainLayout>
            <p>Seite nicht gefunden.</p>
        </Layout.MainLayout>
    </NotFound>
</Router>
